
body{
    overflow: hidden;
    background-color: #f5f2dd;
}
.iconfont{
    margin:0 5px;
}
.header{
    position: relative;
    z-index:99;
    float:left;
    width:25%;
    height:100%;
    overflow: hidden;
    /*background:linear-gradient(to top,#630202,#222);771a1a*/
    /*background:linear-gradient(to top,#630202,#80808e)*/
    background:linear-gradient(to top,#771a1a,#80808e)
    /*-webkit-animation:'comein' 1s;*/
}
@keyframes comein{
    from{
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }
    to{
        -webkit-transform: none;
        transform: none;
    }
}
p,span,li,a,div{color:#fff}
.head_wrapper{
    height:60%;
    padding-top:40%;
}
#mypic{
    width: 100px;
    height: 100px;
}
.mypic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    margin:0 auto;
}
.info{
    width:100%;
}
.name_wrapper{
    margin:10px auto;
    text-align: center;
}
.name_wrapper .iconfont{
    font-size:14px;
}
.local{
    margin:10px auto;
    text-align: center;
}
.local span{
    margin:0 10px;
}
.nav ul{
    text-align: right;
}
.nav li {
    display: block;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:30px;
    transition: padding 0.5s;
}
.nav li:before{
    content:'';
    width:0;
    transition: width 0.3s;
}
.nav li i{
    cursor: pointer;
}
.nav li:hover{
    background-color: #e41637;
    padding-right:15px;
    transition: padding 0.3s;
}
.nav li:hover:before{
    content: '';
    float: left;
    height: 28px;
    margin-top: -2px;
    width:10px;
    background-color: #9a0019;
    transition: width 0.3s;
}
.currentView{
    background-color: #e41637;
}
.contact{
    margin-top:40px;
    text-align: center;
}
.nav:after{
    content:"";
    display: block;
    height:1px;
    width:80%;
    margin:5px auto;
    background-color: #ccc;
}
.contact .github{
    font-size:26px;
}
.contact .github:hover{
    color:#e41637;
}
.contact .mail{
    display: inline-block;
    margin-left: 10px;
}
.contact .email{
    font-size:12px;
    margin-left: -8px;
}
/*内容部分begin*/
.container{
    float:right;
    width:75%;
    height:100%;
    overflow:hidden;
    /*-webkit-animation:'comein-r' 1s;*/
}
@keyframes comein-r{
    from{
        opacity:0.5;
        transform:translateX(25%);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}
#content{
    width:100%;
    height:100%;
}
.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;}
/*动画*/
.bgAnimation{
      position:absolute;
      left:0;
      top:0;
      z-index: -1;
      /*background:linear-gradient(to top,#630202,#222);*/
 }