html{
    background-color: #ddddf5;
}
a,h1,h2,h3,h4,h5,h6,div,span,p,i{
    color:#676767;
}
a:hover{
    color:#333;
}
.iconfont{
    color:#666;
}
.article{
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.article:hover{
    box-shadow: 0px 0px 3px 2px #aaa;
}
.article:hover .toArticle{
    color:#333;
}
/*.article:hover{
    background-color: #efefef;
}*/

.title_wrapper{
    width:100%;
}
.title{
    padding-left:5%;
}

.crossline{
    height:1px;
    background-color: #ccc;
    width:90%;
    margin: 5px 5%;
}
.sketch{
    width:90%;
    padding-left: 5%;
}
.tag_wrapper,.tags_wrapper,.time_wrapper,.link{
    display: inline-block;
}
.time_wrapper{
    margin-left:5%;
}
.tags_wrapper{
    margin-left:5%;
}
.tag_wrapper{
    margin:0 5px;
}
.link{
    float:right;
    margin-right:5%;
}
.clearfloat{
    clear: both;
}
